body {
	padding-top: 5rem;
	margin-bottom: 4em;
}

html {
	position: relative;
    min-height: 100vh;
}
  

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.mainInfo {
	padding: 3rem 1.5rem;
	text-align: center;
}

.textCenter {
	margin-top: 2rem;
	text-align: center;
}

.album {
	margin-top: 2rem;
	padding-top: 2rem;
	background-color: #f7f7f7;
}

.card {
	float: left;
	width: 20%;
	padding: .75rem;
	margin-bottom: 2rem;
	border: 0;
	color: #0A23A3;
	font-weight: bold;
	cursor: pointer;
}

.card p {
	color: #878787;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
}

span.description {
	color: #494C48;
	font-size: 12px;
}
  
.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4em;
    line-height: 4em;
    position: absolute;
    background-color: #212529;
  }
  
.container-footer {
	padding: 5px 0;
}
  
.container-footer .text-muted {
	color: #fff;
	margin: 10px 0;
}

.modal{
	display: none;
}