extends layout

block content
   div.flex.one.centerDiv
    h2 Register
    form(method='POST', action='/users/register')
        label Name:
        input(name='name', type='text')
        label Email:
        input(name='email', type='text')
        label Username:
        input(name='username', type='text')
        label Password:
        input(name='password', type='password')
        label Confirm:
        input(name='password2', type='password')
        br
        br
        input(type='submit', value='Submit')