div h2, h4{
  text-align: center;
}

ul {
    padding:0;
    list-style:none;
    width: 30%;
    margin:auto;
  }
  
  li{
    font-size:1.2rem;
    line-height: 2rem;
    border-bottom: 1px dotted #777;
  }

input.filter {
  width: 200px;
}

div.filter {
  margin: 0px auto;
  width: 30%;
}

span.author {
  color:rgba(90, 76, 76, 0.7);
  font-size: 0.9rem;
}